*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 15vh;
    display: flex;
    border: solid black;
}
.navBar{
    width: 88%;
   display: flex;
   justify-content: flex-end;
   border: solid rgb(1, 247, 1);
}
.listItem{
    display: flex;
    align-items: center;
}
.item{
    display: flex;
    width: 6rem;
    list-style: none;
    border: solid rgb(141, 95, 170);
}








